body{
    background-color: black;
}

header{
    height: 100px;
    display: flex;
    flex-direction: column;
    
    
}

.title {
    margin: 20px;
    width: 300px;
    height:100px;
    font-size: 50px;
    color: white;
    white-space: nowrap;
    align-self: center;
    
    
}

.score {
    
    color: white;
    font-size: 30px;
    margin: 0px;
    display: flex;
    align-self: flex-end;
    margin-right: 10px;

    
}

.game {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    
}

.gameBlock {

    
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}



.redBlock{
    
    border: red solid 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 100px;
    align-self: flex-end;
}

 .block.redBlock.active{
 background-color: red;
}

.blueBlock{
    border: blue solid 5px;
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    margin: 10px;
}

.block.blueBlock.active{
    background-color: blue;
}

.greenBlock{
    border: green solid 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 100px;
    align-self: flex-start;
}

.block.greenBlock.active{
    background-color: green;
}

.yellowBlock{
    border: yellow solid 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}


.block.yellowBlock.active{
    background-color: yellow;
}

.orangeBlock{
    border: orange solid 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 100px;
    align-self: flex-end;
}


.block.orangeBlock.active{
    background-color: orange;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
}

.start {
    width: 60px;
    height: 30px;
}