body{
    background-color: black;
}

header{
    height: 100px;
}

.game {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    
}

.gameBlock {
    display: flex;
    flex-direction: row;
}



.redBlock{
    border: red solid 5px;
    height: 100px;
    width: 100px;
}

 .block.redBlock.active{
 background-color: red;
}

.blueBlock{
    border: blue solid 5px;
    height: 100px;
    width: 100px; 
}

.block.blueBlock.active{
    background-color: blue;
}

.greenBlock{
    border: green solid 5px;
    height: 100px;
    width: 100px;
}

.block.greenBlock.active{
    background-color: green;
}

.yellowBlock{
    border: yellow solid 5px;
    height: 100px;
    width: 100px;
}


.block.yellowBlock.active{
    background-color: yellow;
}

.orangeBlock{
    border: orange solid 5px;
    height: 100px;
    width: 100px;
}


.block.orangeBlock.active{
    background-color: orange;
}

footer{
    height: 100px;
}